.cursor-pointer {
  cursor: pointer;
}

.fa-cart-shopping.active {
  animation: tilt-n-move-shaking 0.20s infinite;
}

.fa-heart.active {
  animation: tilt-n-move-shaking 0.20s infinite;
}

@keyframes tilt-n-move-shaking {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }

  25% {
    transform: translate(5px, 5px) rotate(5deg);
  }

  50% {
    transform: translate(0, 0) rotate(0eg);
  }

  75% {
    transform: translate(-5px, 5px) rotate(-5deg);
  }

  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}

.favorite {
  z-index: 2;
}